<template>
  <div class="container">
    <h1 class="mt-4">Accounts</h1>
    
    <!-- Form to Add New Account -->
    <form @submit.prevent="addAccount">
      <div class="form-group">
        <label for="name">Name</label>
        <input v-model="newAccount.name" type="text" class="form-control" id="name" required>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input v-model="newAccount.email" type="email" class="form-control" id="email" required>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input v-model="newAccount.password" type="password" class="form-control" id="password" required>
      </div>
      <button type="submit" class="btn btn-primary mt-2">Add Account</button>
    </form>

    <!-- Account List -->
    <table class="table table-striped mt-4">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="account in accounts" :key="account.id">
          <td v-if="!account.editing">{{ account.name }}</td>
          <td v-if="account.editing">
            <input v-model="account.name" type="text" class="form-control">
          </td>
          <td v-if="!account.editing">{{ account.email }}</td>
          <td v-if="account.editing">
            <input v-model="account.email" type="email" class="form-control">
          </td>
          <td>{{ account.status }}</td>
          <td>
            <button v-if="!account.editing" @click="startEditing(account)" class="btn btn-primary">Edit</button>
            <button v-if="account.editing" @click="updateAccount(account)" class="btn btn-success">Save</button>
            <button @click="deleteAccount(account.id)" class="btn btn-danger">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script src="./accountlist.ts"></script>

<style scoped>
</style>
