<template>
    <div class="container">
      <h1>Users</h1>
      <ul class="list-group">
        <li class="list-group-item" v-for="user in users" :key="user.id">
          {{ user.username }} ({{ user.email }})
        </li>
      </ul>
    </div>
  </template>
  
  <script src="./users.ts"></script>