
<template>
    <div>
      <h1>Books</h1>
      <ul>
        <li v-for="book in books" :key="book.id">
          <h2>{{ book.title }}</h2>
          <p>Author: {{ book.author }}</p>
          <p>Pages: {{ book.pages }}</p>
          <button @click="deleteBook(book.id)">Delete</button>
          <button @click="updateBook(book.id)">Update</button>
        </li>
      </ul>
      <div>
        <h2>Add New Book</h2>
        <form @submit.prevent="createBook">
          <input v-model="newBook.title" placeholder="Title" />
          <input v-model="newBook.author" placeholder="Author" />
          <input v-model="newBook.pages" type="number" placeholder="Pages" />
          <button type="submit">Add Book</button>
        </form>
      </div>
    </div>
  </template>

<script src="./books.ts"></script>
