
<template>
    <div>
      <h2>Chat</h2>
      <input v-model="user" placeholder="Your name" />
      <input v-model="message" placeholder="Message" />
      <button @click="sendMessage">Send</button>
      <ul>
        <li v-for="(msg, index) in messages" :key="index">{{ msg }}</li>
      </ul>
    </div>
  </template>

  
<script src="./chat.ts"></script>