<template>
    <div class="container">
      <h2>Posts</h2>
      <div v-for="post in posts" :key="post.id" class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">{{ post.title }}</h5>
          <p class="card-text">{{ post.content }}</p>
          <h6>Comments:</h6>
          <ul>
            <li v-for="comment in post.comments" :key="comment.id">
              {{ comment.content }} - <em>{{ comment.user.username }}</em>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </template>
  
  <script src="./userposts.ts"></script>
  
  <style scoped>
  .container {
    margin-top: 20px;
  }
  </style>
  