<template>
    <div class="container">
      <h1>Posts</h1>
      <div v-for="post in posts" :key="post.id" class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">{{ post.title }}</h5>
          <p class="card-text">{{ post.content }}</p>
        </div>
      </div>
    </div>
  </template>
  
  <script src="./posts.ts"></script>
  
  <style scoped>
  .container {
    margin-top: 20px;
  }
  </style>
  